.offers {
    position: absolute;
    top: 60%;
    right: 5%;
    width: 30%;
    background: #12468078;
}

.offers1 {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 30%;
    height: 200px;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

.labelResidentz {
    color: white;
}